<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Index</title>
    <style>
        body{
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
<header th:replace="includes/header"></header>
<div class="container mt-5">
    <h1>Astana IT University</h1>

    <p>Astana IT University vote system is the first University vote system in Kazakhstan, headquartered in Astana,
        It was founded in 2020 as an University vote system,
        and will be re-registered in 2021 as a joint stock company due to joint stock company law changes.
        The vote system is owned 100% by Astana IT University.</p>
    <p>Astana IT University is a leading competence center for digital transformation in Central Asia. Training of highly qualified specialists in the field of digital economy is taking place on the basis of interdisciplinary technologies.</p>
    <p>Astana IT University got access to the EBSCO electronic resource databases! <br> EBSCO in Astana IT University
        EBSCO is the largest aggregator of scientific resources from the world's leading publishing houses.
        EBSCO provides a wide variety of licensed full-text databases from leading information providers, including Scopus and Web of Science.
        Now students and teachers of the university have access to the following resources of the EBSCOhost information system</p>
</div>

</body>
</html>