<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Question stats</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<header th:replace="includes/header"></header>

<div class="mt-5 container">
    <h3 style="text-align: center" th:text="${question.question}"></h3>
    <div th:each="answers : ${answerMapping}">
        <p class="font-weight-bold" th:text="${answers.key+' - '+answers.value+'%'}"></p>
    </div>
</div>
</body>
</html>