<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Questions List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<header th:replace="includes/header"></header>

    <div class="mt-5 container">
        <div class="d-flex flex-column">
            <ul class="list-group text-center" th:each="question : ${questionList}">
                <li class="list-group-item"><a style="text-decoration: none" th:href="@{/admin/statistics/{id}(id=${question.id})}"><span th:text="${question.question}"></span></a></li>
            </ul>
        </div>
    </div>

</body>
</html>